# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [78]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_file = "Resources/schools_complete.csv"
student_file = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_file)
student_data = pd.read_csv(student_file)

# Combine the data into a single dataset
school_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [79]:
#Rename the columns so they're nicer
df = school_df.rename(columns={'student_name':'Student Name',
                                      'gender':'Gender', 
                                      'grade':'Grade', 
                                      'school_name':'School Name',
                                      'reading_score':'Reading Score', 
                                      'math_score':'Math Score', 
                                      'type':'School Type', 
                                      'size':'School Size',
                                      'budget':'School Budget'
                                      })
df.head(1)

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,School Type,School Size,School Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [80]:
#Calculate the number of schools
num_schools = len(df['School Name'].unique())

In [81]:
#Calculate the total number of students
num_students = len(df)

In [82]:
#Calculate the total budget
budget_total = df['School Budget'].unique().sum() #We could just pull these from the school_data df too

In [83]:
#Calculate the average math score
#Calculate the average reading score
math_mean = df['Math Score'].mean()
reading_mean = df['Reading Score'].mean()

In [84]:
# Calculate the percentage of students with a passing math score (70 or greater)
# Calculate the percentage of students with a passing reading score (70 or greater)
pass_math = df.loc[df['Math Score'] >= 70, :]
pass_read = df.loc[df['Reading Score'] >= 70, :]

pct_pass_math = len(pass_math)*100/num_students
pct_pass_read = len(pass_read)*100/num_students

In [85]:
# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
passing_rate = (math_mean + reading_mean)/2

In [86]:
# Create a dataframe to hold the above results
#Format the percentages in one go

district_summary = pd.DataFrame({"Number of Schools":[num_schools],
                               "Number of Students":[num_students],
                               "Total Budget":[budget_total],
                               "Avgerage Math Score":[math_mean],
                               "Avgerage Reading Score":[reading_mean],
                               "% Passing Math":[pct_pass_math],
                               "% Passing Reading":[pct_pass_read],
                               "Overall Passing Rate": [passing_rate]})

In [87]:
# Optional: give the displayed data cleaner formatting
#----I really want to be able to do a style dictionary but don't know how to get it to apply.
# district_summary.style.format({'Number of Students': '{:,}',
#                  'Total Budget': '${:,}',
#                 'Avgerage Math Score':'{:.2f}',
#                 'Avgerage Reading Score':'{:.2f}',
#                  '% Passing Math':'{:.2f}%',
#                  '% Passing Reading':'{:.2f}%',
#                  'Overall Passing Rate':'{:.2f}%',
#                 })
# district_summary.style.applymap()
district_summary['Number of Students'] = district_summary['Number of Students'].map('{:,}'.format)
district_summary['Total Budget'] = district_summary['Total Budget'].map('${:,}'.format)
district_summary['Avgerage Math Score'] = district_summary['Avgerage Math Score'].map('{:.2f}'.format)
district_summary['Avgerage Reading Score'] = district_summary['Avgerage Reading Score'].map('{:.2f}'.format)
district_summary['% Passing Math'] = district_summary['% Passing Math'].map('{:.2f}%'.format)
district_summary['% Passing Reading'] = district_summary['% Passing Reading'].map('{:.2f}%'.format)
district_summary['Overall Passing Rate'] = district_summary['Overall Passing Rate'].map('{:.2f}%'.format)

district_summary

,Number of Schools,Number of Students,Total Budget,Avgerage Math Score,Avgerage Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,"39,170","$24,649,428",78.99,81.88,74.98%,85.81%,80.43%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [88]:
#Group by school name to get overview of School, Type, Total Students, Per Student Budget, Average math & reading
school_grouped_df = df.groupby(['School Name'])
total_students = school_grouped_df['Student Name'].count()
school_budget = school_grouped_df['School Budget'].mean() #kludgy
student_budget = school_budget/total_students
avg_math = school_grouped_df['Math Score'].mean()
avg_reading = school_grouped_df['Reading Score'].mean()

In [89]:
# Find the percentage of students passing reading

pass_read_grouped = pass_read.groupby(['School Name'])
num_pass_read = pass_read_grouped.count()
pct_pass_read = num_pass_read['Reading Score']*100/total_students

In [90]:
#Find the percentage of students passing math
pass_math_grouped = pass_math.groupby(['School Name'])
num_pass_math = pass_math_grouped.count()
pct_pass_math = num_pass_math['Math Score']*100/total_students

In [91]:
#Find the overall rate of passing
overall_pass_rate = (pct_pass_read + pct_pass_math)/2

In [92]:
school_summary = pd.DataFrame({'Total Students': total_students,
                               'School Budget': school_budget,
                               'Student Budget' : student_budget,
                               'Average Math Score' : avg_math,
                               'Average Reading Score': avg_reading,
                               '% Passing Math' : pct_pass_math,
                               '% Passing Reading' : pct_pass_read,
                               '% Overall Passing Rate': overall_pass_rate
})
school_summary

,Total Students,School Budget,Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,,,,,,,,
Bailey High School,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

In [94]:
# Optional: give the displayed data cleaner formatting
school_summary_rf = pd.DataFrame()
school_summary_rf['Total Students'] = school_summary['Total Students'].map('{:,}'.format)
school_summary_rf['School Budget'] = school_summary['School Budget'].map('${:,}'.format)
school_summary_rf['Student Budget'] = school_summary['Student Budget'].map('${:}'.format)
school_summary_rf['Average Math Score'] = school_summary['Average Math Score'].map('{:.2f}'.format)
school_summary_rf['Average Reading Score'] = school_summary['Average Reading Score'].map('{:.2f}'.format)
school_summary_rf['% Passing Math'] = school_summary['% Passing Math'].map('{:.2f}%'.format)
school_summary_rf['% Passing Reading'] = school_summary['% Passing Reading'].map('{:.2f}%'.format)
school_summary_rf['% Overall Passing Rate'] = school_summary['% Overall Passing Rate'].map('{:.4f}%'.format)
school_summary_rf.head()

,Total Students,School Budget,Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,,,,,,,,
Bailey High School,"4,976","$3,124,928",$628.0,77.05,81.03,66.68%,81.93%,74.3067%
Cabrera High School,"1,858","$1,081,356",$582.0,83.06,83.98,94.13%,97.04%,95.5867%
Figueroa High School,"2,949","$1,884,411",$639.0,76.71,81.16,65.99%,80.74%,73.3639%
Ford High School,"2,739","$1,763,916",$644.0,77.10,80.75,68.31%,79.30%,73.8043%
Griffin High School,"1,468","$917,500",$625.0,83.35,83.82,93.39%,97.14%,95.2657%

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [95]:
top_schools = school_summary_rf.sort_values('% Overall Passing Rate', ascending=False)
top_schools.head(5)

,Total Students,School Budget,Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,,,,,,,,
Cabrera High School,"1,858","$1,081,356",$582.0,83.06,83.98,94.13%,97.04%,95.5867%
Thomas High School,"1,635","$1,043,130",$638.0,83.42,83.85,93.27%,97.31%,95.2905%
Pena High School,962,"$585,858",$609.0,83.84,84.04,94.59%,95.95%,95.2703%
Griffin High School,"1,468","$917,500",$625.0,83.35,83.82,93.39%,97.14%,95.2657%
Wilson High School,"2,283","$1,319,574",$578.0,83.27,83.99,93.87%,96.54%,95.2037%

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [96]:
top_schools = school_summary_rf.sort_values('% Overall Passing Rate', ascending=True)
top_schools.head(5)

,Total Students,School Budget,Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,,,,,,,,
Rodriguez High School,"3,999","$2,547,363",$637.0,76.84,80.74,66.37%,80.22%,73.2933%
Figueroa High School,"2,949","$1,884,411",$639.0,76.71,81.16,65.99%,80.74%,73.3639%
Huang High School,"2,917","$1,910,635",$655.0,76.63,81.18,65.68%,81.32%,73.5002%
Johnson High School,"4,761","$3,094,650",$650.0,77.07,80.97,66.06%,81.22%,73.6400%
Ford High School,"2,739","$1,763,916",$644.0,77.10,80.75,68.31%,79.30%,73.8043%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [19]:
grades = ['9th','10th','11th','12th']
output = {}
for x in grades:
    grade_x = df.loc[df['Grade'] == x].groupby('School Name')['Math Score']
    output[x] = (grade_x.mean())

math_grade_df = pd.DataFrame(output)
#math_grade_df.style.format("{:.2%}")
math_grade_df

                             9th       10th       11th       12th
School Name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [20]:
reading_output = {}
for x in grades:
    grade_x = df.loc[df['Grade'] == x].groupby('School Name')['Reading Score']
    reading_output[x] = (grade_x.mean())
reading_grade_df = pd.DataFrame(reading_output)
reading_grade_df

                             9th       10th       11th       12th
School Name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [97]:
school_summary.head(1)

,Total Students,School Budget,Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,,,,,,,,
Bailey High School,4976,3124928,628.0,77.048432,81.033963,66.680064,81.93328,74.306672

In [134]:
school_summary = school_summary.reset_index(drop=True)
spending = school_summary.iloc[:, 2:8]

In [135]:
# Sample bins. Feel free to create your own bins.
bins = [0, 593, 607, 621, 635, 650, 665]
labels = ["<$593", "$594-607", "$608-621", "$622-635", "$636-650","651-655"]

spending["Spending Ranges (Per Student)"] = pd.cut(spending["Student Budget"], bins, labels=labels)
# # Create a GroupBy object based upon "View Group"
spending = spending.groupby('Spending Ranges (Per Student)')

In [136]:
spending.mean()

,Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,,
<$593,581.0,83.455399,83.933814,93.460096,96.610877,95.035486
$594-607,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
$608-621,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
$622-635,626.5,80.199966,82.425360,80.036217,89.536122,84.786170
$636-650,641.6,78.229576,81.492857,71.998877,83.757921,77.878399
651-655,653.5,76.959583,81.058567,66.218444,81.089710,73.654077

## Scores by School Size

* Perform the same operations as above, based on school size.

In [126]:
school_summary.head(1)
size_df = school_summary.drop(['School Budget','Student Budget'], axis=1)

,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,4976,77.048432,81.033963,66.680064,81.93328,74.306672

In [23]:
# Sample bins. Feel free to create your own bins.
bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.

In [ ]:
df1["Spending Ranges (Per Student)"] = pd.cut(df1["Student Budget"], bins, labels=labels)
# # Create a GroupBy object based upon "View Group"
df1 = df1.groupby('Spending Ranges (Per Student)')